/*==================================================
   Table of Contents
 ===================================================*/

/*
    1.   Normalize
    2.   Base & utilities
    3.   Site layout
    4.   Media queries
    5.   Animations
    6.   Print styles
*/

/*==================================================
   1. Normalize
 ===================================================*/

html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/*==================================================
   2. Base and utilities
 ===================================================*/

/* Base */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
::-moz-selection { background: #ddd; }
::selection { background: #ddd; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height:1.8;
  color: #333;
  background-color: #fff;
}

a {
  color:#0000EE;
  transition: color ease 0.3s;
  text-decoration:none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto #0000EE;
  outline-offset: -2px;
}
a:hover, a:active, a:focus {text-decoration:underline;}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
  color:#000;
}
h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover,
.h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover, h1 a:active, .h1 a:active,
h2 a:active, .h2 a:active, h3 a:active, .h3 a:active, h4 a:active, .h4 a:active,
h5 a:active, .h5 a:active, h6 a:active, .h6 a:active, h1 a:focus, .h1 a:focus,
h2 a:focus, .h2 a:focus, h3 a:focus, .h3 a:focus, h4 a:focus, .h4 a:focus,
h5 a:focus, .h5 a:focus, h6 a:focus, .h6 a:focus {
  color:#0000EE;
  text-decoration:none;
}

p a {color:#0000EE;text-decoration:underline;}
p a:hover, p a:active, p a:focus {color:#000;}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

/* Headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1, .h1, h2, .h2, h3, .h3 {
    font-family: 'PT Serif';
    margin-top: 20px;
    margin-bottom: 10px;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 12px; }

h1.subheading, .h1.subheading { color:#777;}
h2.subheading, .h2.subheading { color:#777;}
h3.subheading, .h3.subheading { color:#777;}
h4.subheading, .h4.subheading { color:#777;}
h5.subheading, .h5.subheading { color:#777;}
h6.subheading, .h6.subheading { color:#777;}

/* Text and code */
p { margin: 0 0 10px; }
p.lead {
  margin-bottom: 20px;
  font-size: 150%;
  font-weight: 300;
  line-height: 1.4;
}
b, strong { font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; }
small, .small { font-size: 85%; }
big, .big { font-size: 115%; }
mark, .mark {
  padding: .2em;
  background-color: #fcf8e3;
}
abbr[title], abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}
blockquote p:last-child, blockquote ul:last-child, blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote cite {
  display: block;
  font-size: 80%;
  line-height: 1.42857143;
  color: #777;
}
blockquote cite:before {
  content: '\2014 \00A0';
}
blockquote.reverse, blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid #eee;
  border-left: 0;
}
blockquote.reverse:before, blockquote.pull-right:before {
  content: '';
}
blockquote.reverse:after, blockquote.pull-right:after {
  content: '\00A0 \2014';
}
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857143;
}
code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
code, kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #666;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
pre:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  border:0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
pre.scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* Lists */
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt, dd { line-height: 1.42857143; }
dt {
  font-weight: bold;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
dd {
  margin-left: 0;
  margin-bottom:10px;
}
@media (min-width: 768px) {
  dl.horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
  }
  dl.horizontal dd { margin-left: 180px; }
}

/* Images */
figure { margin: 0; }
img {
    vertical-align: middle;
    max-width:100%;
    height:auto;
}
img.thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  opacity:0.75;
  -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
img.thumbnail:hover {
  opacity:1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

/* Tables */
table {
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
table:hover {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
  font-weight:bold;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 5px;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
}
table > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}
table > tbody > tr:hover {
  background-color: #f5f5f5;
}

/* Forms */
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto red;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
input[type='text'], input[type='password'], input[type='search'], input[type='url'],
input[type='datetimet'], input[type='datetime-localt'], input[type='datet'],
input[type='montht'], input[type='timet'], input[type='weekt'], input[type='numbert'],
input[type='email'], input[type='telt'], input[type='colort'], textarea, select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type='text']:focus, input[type='password']:focus, input[type='search']:focus,
input[type='url']:focus, input[type='datetimet']:focus, input[type='datetime-localt']:focus,
input[type='datet']:focus, input[type='montht']:focus, input[type='timet']:focus,
input[type='weekt']:focus, input[type='numbert']:focus, input[type='email']:focus,
input[type='telt']:focus, input[type='colort']:focus, input[type='checkbox']:focus,
input[type='radio']:focus, textarea:focus, select:focus {
  border-color: red;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 102, .6);
}
input[type='text']::-moz-placeholder, input[type='password']::-moz-placeholder,
input[type='search']::-moz-placeholder, input[type='url']::-moz-placeholder,
input[type='datetimet']::-moz-placeholder, input[type='datetime-localt']::-moz-placeholder,
input[type='datet']::-moz-placeholder, input[type='montht']::-moz-placeholder,
input[type='timet']::-moz-placeholder, input[type='weekt']::-moz-placeholder,
input[type='numbert']::-moz-placeholder, input[type='email']::-moz-placeholder,
input[type='telt']::-moz-placeholder, input[type='colort']::-moz-placeholder,
textarea::-moz-placeholder, select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
input[type='text']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder, input[type='url']:-ms-input-placeholder,
input[type='datetimet']:-ms-input-placeholder, input[type='datetime-localt']:-ms-input-placeholder,
input[type='datet']:-ms-input-placeholder, input[type='montht']:-ms-input-placeholder,
input[type='timet']:-ms-input-placeholder, input[type='weekt']:-ms-input-placeholder,
input[type='numbert']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder,
input[type='telt']:-ms-input-placeholder, input[type='colort']:-ms-input-placeholder,
textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #999;
}
input[type='text']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder, input[type='url']::-webkit-input-placeholder,
input[type='datetimet']::-webkit-input-placeholder, input[type='datetime-localt']::-webkit-input-placeholder,
input[type='datet']::-webkit-input-placeholder, input[type='montht']::-webkit-input-placeholder,
input[type='timet']::-webkit-input-placeholder, input[type='weekt']::-webkit-input-placeholder,
input[type='numbert']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder,
input[type='telt']::-webkit-input-placeholder, input[type='colort']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #999;
}
input[type='text'][disabled], input[type='password'][disabled],
input[type='search'][disabled], input[type='url'][disabled],
input[type='datetimet'][disabled], input[type='datetime-localt'][disabled],
input[type='datet'][disabled], input[type='montht'][disabled],
input[type='timet'][disabled], input[type='weekt'][disabled],
input[type='numbert'][disabled], input[type='email'][disabled],
input[type='telt'][disabled], input[type='colort'][disabled], textarea[disabled],
select[disabled] {
  cursor: not-allowed;
  background-color:#eee;
}
textarea {
  height: auto;
}
input[type="search"] { -webkit-appearance: none; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 34px;
  }
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
input[type='button'], input[type='submit'], input[type='reset'], button, submit, .button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  background-color: #d44950;
  border-color: #ccc;
  font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
  transition: all ease 0.3s;
}
input[type='button']:focus, input[type='submit']:focus, input[type='reset']:focus,
button:focus, submit:focus, .button:focus, input[type='button']:active:focus,
input[type='submit']:active:focus, input[type='reset']:active:focus, button:active:focus,
submit:active:focus, .button:active:focus {
  outline: thin dotted;
  outline: 5px auto red;
  outline-offset: -2px;
}
input[type='button']:hover, input[type='submit']:hover, input[type='reset']:hover,
button:hover, submit:hover, .button:hover, input[type='button']:focus,
input[type='submit']:focus, input[type='reset']:focus, button:focus, submit:focus,
.button:focus {
  color: #fff;
  text-decoration: none;
  background-color: #333;
}
input[type='button']:active, input[type='submit']:active, input[type='reset']:active,
button:active, submit:active,.button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
input[type='button'][disabled], input[type='submit'][disabled], input[type='reset'][disabled],
button[disabled], submit[disabled], .button.disabled {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
input[type='button'].block, input[type='submit'].block, input[type='reset'].block,
button.block, submit.block, .button.block {
  display:block;
  width:100%;
}

/* Utilities */
.clearfix:before, .clearfix:after, .container:before, .container:after,
.container-fluid:before, .container-fluid:after {
    content: " ";
    display: table;
}
.clearfix:after, .container:after, .container-fluid:after { clear: both; }
.clearfix, .container, .container-fluid { *zoom: 1; }

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.pull-left { float: left !important; }
.pull-right { float: right !important; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.lowercase { text-transform: lowercase; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.muted { color: #777; }
.success { color:#63a35c;}
.warning { color:#f0ad4e;}
.error { color:#d44950;}
.hide, .hidden { display: none !important; }
.show, .display { display: block !important; }
.invisible { visibility: hidden; }
.visible { visibility: visible; }
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
img.circle, .circle { border-radius: 50%; }
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color:#777;
  transition: all ease 0.3s;
}
.label:hover { opacity:0.8; }
a.label, .label a { color:#fff; }
a.label:hover, .label a:hover,  a.label:focus, .label a:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty { display: none; }
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  border-radius: 10px;
  transition: all ease 0.3s;
}
.badge:hover { opacity:0.8; }
a.badge, .badge a { color:#fff; }
a.badge:hover, .badge a:hover, a.badge:focus, .badge a:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.badge:empty { display: none; }
.label-success, .badge-success { background-color: #5cb85c; }
.label-warning, .badge-warning { background-color: #f0ad4e; }
.label-error, .badge-error { background-color: #d9534f; }

.panel {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  color:#666;
  border:1px solid transparent;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
          box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
  opacity:0.75;
  -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  color:#666;
  border:1px solid transparent;
  -webkit-box-shadow: inset 0px 1px 7px 1px rgba(50, 50, 50, 0.5);
          box-shadow: inset 0px 1px 7px 1px rgba(50, 50, 50, 0.5);
  opacity:0.75;
  -webkit-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
.panel:hover, .well:hover {opacity:1; border:1px solid #ccc; color:#222;}

/* tooltip */
[data-title] {
    position: relative;
    text-decoration: none;
}
[data-title]:after, [data-title]:before {
  position: absolute;
  z-index: 100;
  opacity: 0;
}
[data-title]:after {
    content: attr(data-title);
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #222;
    border-radius: 5px;
    text-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
[data-title]:before {
    content: "";
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
}
    [data-title]:hover:after, [data-title]:hover:before { opacity: 1; }
/* Top */
[data-title].tooltip-top:after, [data-title].tooltip-top:before {
  -webkit-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
    bottom: 90%;
    left: -9999px;
    margin-bottom: 12px;
}
[data-title].tooltip-top:before {
    border-color: #222 transparent transparent transparent;
    margin-bottom: 0;
}
[data-title].tooltip-top:hover:after, [data-title].tooltip-top:hover:before {
    bottom: 100%;
    left: 0;
}
[data-title].tooltip-top:hover:before { left: 15px; }
/* Bottom */
[data-title].tooltip-bottom:after, [data-title].tooltip-bottom:before {
  -webkit-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
    top: 90%;
    left: -9999px;
    margin-top: 12px;
}
[data-title].tooltip-bottom:before {
    border-color: transparent transparent #222 transparent;
    margin-top: 0;
}
[data-title].tooltip-bottom:hover:after, [data-title].tooltip-bottom:hover:before {
    top: 100%;
    left: 0;
}
[data-title].tooltip-bottom:hover:before { left: 15px; }
/* Right */
[data-title].tooltip-right:after, [data-title].tooltip-right:before {
  -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
  top: -9999px;
  left: 96%;
  margin-left: 12px;
}
[data-title].tooltip-right:before {
    border-color: transparent #222 transparent transparent;
    margin-left: 0;
}
[data-title].tooltip-right:hover:after, [data-title].tooltip-right:hover:before {
    left: 100%;
    top: 0;
}
[data-title].tooltip-right:hover:before { top: 7px; }
/* Left */
[data-title].tooltip-left:after, [data-title].tooltip-left:before {
  -webkit-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
  transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
    top: -9999px;
    right: 96%;
    margin-right: 12px;
}
[data-title].tooltip-left:before {
    border-color: transparent transparent transparent #222;
    margin-right: 0;
}
[data-title].tooltip-left:hover:after, [data-title].tooltip-left:hover:before {
    right: 100%;
    top: 0;
}
[data-title].tooltip-left:hover:before { top: 7px; }
@media (max-width: 767px) {
  [data-title]:after,[data-title]:before, [data-title]:hover:after, [data-title]:hover:before,
  [data-title].tooltip-top:after,
  [data-title].tooltip-top:before,
  [data-title].tooltip-top:hover:after,
  [data-title].tooltip-top:hover:before,
  [data-title].tooltip-bottom:after,
  [data-title].tooltip-bottom:before,
  [data-title].tooltip-bottom:hover:after,
  [data-title].tooltip-bottom:hover:before,
  [data-title].tooltip-left:after,
  [data-title].tooltip-left:before,
  [data-title].tooltip-left:hover:after,
  [data-title].tooltip-left:hover:before,
  [data-title].tooltip-right:after,
  [data-title].tooltip-right:before,
  [data-title].tooltip-right:hover:after,
  [data-title].tooltip-right:hover:before {
    display:none;
  }
}

/* responsive utils */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position:relative;
}
@media (min-width: 768px) {
  .container { width: 750px; }
}
@media (min-width: 992px) {
  .container { width: 970px; }
}
@media (min-width: 1200px) {
  .container { width: 1170px; }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position:relative;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg,
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block,
.visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline,
.visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs { display: block !important; }
  table.visible-xs { display: table; }
  tr.visible-xs { display: table-row !important; }
  th.visible-xs, td.visible-xs
  .visible-xs-block { display: block !important; }
  .visible-xs-inline { display: inline !important; }
  .visible-xs-inline-block { display: inline-block !important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm { display: block !important; }
  table.visible-sm {display: table; }
  tr.visible-sm { display: table-row !important; }
  th.visible-sm,  td.visible-sm { display: table-cell !important;  }
  .visible-sm-block { display: block !important; }
  .visible-sm-inline { display: inline !important; }
  .visible-sm-inline-block { display: inline-block !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md { display: block !important; }
  table.visible-md { display: table; }
  tr.visible-md { display: table-row !important; }
  th.visible-md, td.visible-md { display: table-cell !important; }
  .visible-md-block { display: block !important; }
  .visible-md-inline { display: inline !important; }
  .visible-md-inline-block { display: inline-block !important; }
}
@media (min-width: 1200px) {
  .visible-lg { display: block !important; }
  table.visible-lg { display: table; }
  tr.visible-lg { display: table-row !important; }
  th.visible-lg, td.visible-lg { display: table-cell !important; }
  .visible-lg-block { display: block !important; }
  .visible-lg-inline { display: inline !important; }
  .visible-lg-inline-block { display: inline-block !important; }
}
@media (max-width: 767px) {
  .hidden-xs { display: none !important; }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm { display: none !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md { display: none !important; }
}
@media (min-width: 1200px) {
  .hidden-lg { display: none !important; }
}
.visible-print, .visible-print-block, .visible-print-inline,  .visible-print-inline-block { display: none !important; }
@media print {
  .visible-print { display: block !important; }
  table.visible-print { display: table; }
  tr.visible-print { display: table-row !important; }
  th.visible-print, td.visible-print { display: table-cell !important; }
  .visible-print-block { display: block !important; }
  .visible-print-inline { display: inline !important; }
  .visible-print-inline-block { display: inline-block !important; }
  .hidden-print { display: none !important; }
}

/*==================================================
   3. Site layout
 ===================================================*/

body {
  background:#fff url('/images/background.jpg') no-repeat center center;
  background-size: cover;
}

/*==================================================
   4. Media queries
 ===================================================*/

@media (max-width: 768px) {
  body { background-image: url('/images/background-small.jpg'); }
}
@media (min-width: 768px) {
   /* ... */
}
@media (min-width: 992px) {
   /* ... */
}
@media (min-width: 1200px) {
   /* ... */
}

/*==================================================
   5. Animations
 ===================================================*/

   /* ... */

/*==================================================
   6. Print styles
 ===================================================*/

@media print {
  *, *:before, *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")";}
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 { page-break-after: avoid; }
  select { background: #fff !important; }
  .label { border: 1px solid #000; }
  .table { border-collapse: collapse !important; }
  .table td, .table th { background-color: #fff !important; }
  .table-bordered th, .table-bordered td { border: 1px solid #ddd !important; }
}
